# Airflow (infra) 
AIRFLOW_UID=501
# Générer une clé :
#   docker compose exec airflow-apiserver python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=

# Connexion Airflow vers ExchangeDB (Connection ID: fx_postgres)
AIRFLOW_CONN_FX_POSTGRES=postgres://exchange:exchange@exchangedb:5432/exchangedb

# Variables Airflow (devises / API Frankfurter)
AIRFLOW_VAR_EXCHANGE_RATE_API_URL=https://api.frankfurter.dev/v2/rates
AIRFLOW_VAR_EXCHANGE_RATE_API_TIMEOUT=10
AIRFLOW_VAR_EXCHANGE_RATE_BASE=EUR
AIRFLOW_VAR_EXCHANGE_RATE_CURRENCIES=USD,GBP,JPY,CHF,CAD,AUD
